{% extends 'base/main.html' %}

{% block content %}

<div class="header">
    <h3>Entry</h3>
    <a class = 'back' href="{% url 'My Journal' %}">&#10508</a>
</div>


<div class="form-body">
    <form method="POST">
        <!-- {{form.as_p}} -->
        <label>{{form.title.label}}</label>
        {{form.title}}
        <label>{{form.content.label}}</label>
        <div style="columns: 1;">{{form.content}}</div>
        <br>
        <br>
        <input class='button' type="submit" value="Submit">
        {%csrf_token%}
    </form>
</div>


{% endblock content %}